.carrito{
    height: 7vh;
    width: 15vh;
}
.badgeroundedNumber{
    background-color: red;
    color: black;
    text-decoration: none;
    border-radius: 30vh;
    margin-left: 4vh;
    margin-right: 3vh;
    
}