/* .productos {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}
.productos h4 {
    margin-right: 5%;
}
.productos input{
    display: flexbox;
    flex-direction: row;
    margin-left: 40%;
    height:2em;
    margin-top: 1%;
} */