.divItem {
    width: 20rem;
    height: 20rem;
    margin: 1rem 0.125rem;
}

.cardItem {
    height: 20rem;
}

.card-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.buttonCardItem {
    width: 10rem;
}

.divButtonCardItem {
    flex-direction: column;
    align-self: center;
}